<!--exploreData.html homepage code -->
<!DOCTYPE html>

<html>
  <head>
    <title> Explore Data </title>
    </head/>
    <!--link to css file-->
    <link rel="stylesheet" href="static/exploreCSS.css">
    <body>
    <!--Navigation Bar for page -->
    <ul>
      <li> <a class = "navbar" href = "index.html"> Home Page </a> </li>
      <li> <a href = "exploreData.html"> Explore Data </a> </li>
      <li> <a href = "locationStats.html"> Location Statistics </a> </li>
    </ul>
    <!--end navigation bar-->
    <!--headers-->
  <h1 class = "h1Explore"> Chicago Crime Records - Search By Crime </h1>
  <h2 class = "h2Explore"> A collection of crime data for Chicago from 2001 to the present </h2>
  <h3 class = "h3Explore"> Select Additional Filters: </h2>

<!--Crime Type Filter (Labels, Radio Buttons, and link to clear form)-->
  <form action= "/exploreResults.html" method = "POST">
    <div class= "filterA">Crime Type</div>
    <div class="filter1">
      <label for="A">
        <input type="radio" value="ASSAULT" name="crimeType" id="A"/>Assault</label>
      <label for="B">
        <input type="radio" value="CRIM SEXUAL ASSAULT" name="crimeType" id="B" />Sexual Assault</label>
      <label for="C">
        <input type="radio" value="THEFT" name="crimeType" id="C"/>Theft</label>
      <label for="D">
        <input type="radio" value="NARCOTICS" name="crimeType" id="D"/> Narcotics </label>
      <label for="E">
        <input type="radio" value="PROSTITUTION" name="crimeType" id="E"/> Prostitution</label>
      <label for="F">
        <input type="radio" value="BATTERY" name="crimeType" id="F"/> Battery </label>
      
        <a class= "A" href="#" id="clearCrimeType">Clear Form </a> <!--link to clear form-->
    </div>

  <!--Crime Date Filter (Labels and input bar)-->
  <div class= "filterB">Crime Date</div>
  <div class="filter2">
        Enter Year: (ex: 2010):
        <input type="number" name="crimeDate" min=2001 max=2018>
  </div>

  <!--Arrest Filter (Labels, Radio Button, and link to clear form)-->
  <div class="filterC"> Arrest </div>
  <div class="filter3">
    <label>
      <input type="radio" value="TRUE" name="arrest" id="G" />Click for crimes with arrests </label>
    
      <a class="C" href="#" id="clearArrest"> Clear Form </a> <!--link to clear form-->
  </div>

  <!--Domestic Filter (Labels, Radio Button, and link to clear form)-->
  <div class="filterD"> Domestic </div>
  <div class="filter4">
    <label>
      <input type="radio" value="TRUE" name="domestic" id="H"/>Click to turn on domestic crime filter </label>
    
      <a class="D" href="#" id="clearDomestic"> Clear Form </a> <!--link to clear form-->
  </div>

  <!--Crime Setting Filter(Labels, Radio Button, and link to clear form)-->
  <div class="filterE"> Crime Setting </div>
  <div class="filter5">
    <label for="I">
      <input type="radio" value="SCHOOL" name="crimeSetting" id="I"/> School </label>
    <label for="J">
      <input type="radio" value="STREET" name="crimeSetting" id= "J" /> Street </label>
    <label for="K">
      <input type="radio" value="BAR" name="crimeSetting" id="K"/> Bar </label>
    <label for="L">
      <input type="radio" value="RESIDENCE" name="crimeSetting" id="L" /> Residence </label>
    <label for="M">
      <input type="radio" value="STORE" name="crimeSetting" id="M" /> Store </label>
    <label for="N">
      <input type="radio" value="APARTMENT" name="crimeSetting" id="N" /> Apartment </label>
    
    <a class="E" href="#" id="clearCrimeSetting"> Clear Form </a> <!--link to clear form-->
  </div>

  <!--Community Area Filter (Labels, number input box, and link to clear form)-->
  <div class="filterF"> Community Area Number </div>
  <div class="filter6">
      Enter Chicago Community Area (1-77):
      <input type="number" name="communityAreaNumber" min=1 max=77>
      <!--styling for number input box-->
      <style>
      input[type="number"]{
          background-color: #a9c8d6;
          color: black;
          width: 70px;
          height: 30px;
          font-size: 1em;
      }
      </style>
  </div>
<!--results button -->
<button class="resultbtn"> Get Results: <input type="submit" value="submit"> </button>
<!--styling for number input box-->
<style>
input[type="submit"]{
    background-color: #ccffff;
    color: black;
    width: 70px;
    height: 30px;
    font-size: 1em;
}
</style>
</form>
   
  <!--Script Source: https://gist.github.com/rsutphin/5157757#file-clear_radio-html-L17 -->    
      
  <!--javaScript script for clearing radio buttons for crimeType filter-->
  <script type="text/javascript">
    document.getElementById('clearCrimeType').addEventListener('click', function () {
      ["A", "B", "C", "D", "E", "F"].forEach(function(id) {
        document.getElementById(id).checked = false;
      });
      return false;
    })
  </script>
  <!--javaScript script for clearing radio buttons for arrest filter-->
  <script type="text/javascript">
    document.getElementById('clearArrest').addEventListener('click', function () {
      ["G"].forEach(function(id) {
        document.getElementById(id).checked = false;
      });
      return false;
    })
  </script>
  <!--javaScript script for clearing radio buttons for domestic filter-->
  <script type="text/javascript">
    document.getElementById('clearDomestic').addEventListener('click', function () {
      ["H"].forEach(function(id) {
        document.getElementById(id).checked = false;
      });
      return false;
    })
  </script>
  <!--javaScript script for clearing radio buttons for crime setting filter-->
  <script type="text/javascript">
    document.getElementById('clearCrimeSetting').addEventListener('click', function () {
      ["I", "J", "K", "L", "M", "N"].forEach(function(id) {
        document.getElementById(id).checked = false;
      });
      return false;
    })
  </script>
   
  <!--Image of the 77 chicago community area numbers for user reference-->    
  <img id="numImg" src="static/comNums.jpg" alt="Chicago Community Areas numbers">

</body>
</html>
