<!--locationResults.html homepage code -->
<!DOCTYPE html>

<html>
  <head>
  <!--link to css file-->
  <link rel="stylesheet" href="static/crimeCSS.css">
   <!--Navigation Bar for page -->
    <ul>
      <li> <a class = "navbar" href = "index.html"> Home Page </a> </li>
      <li> <a href = "exploreData.html"> Explore Data </a> </li>
      <li> <a href = "locationStats.html"> Location Statistics </a> </li>
    </ul>
    <!--end navigation bar-->
    <!-- Displays the community area at the top of the results page and a try again button. -->
    <title> Location Results</title>
    <h1> Location Results for Community Area {{ location }} </h1>
    <button><a href = "locationStats.html"> Try Again </a></button>
    <style>
      button{
        background-color: #ccffe6;
        font-size: 1.2em;
        height: 50px;
        width: 150px;
      }
    </style>
    <!-- A script that displays the total number of crimes during certain years
         in a curved line chart from google's charts -->
    <!--google charts graph source: https://developers.google.com/chart/interactive/docs/gallery/linechart-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        //creates array of data
        var data = google.visualization.arrayToDataTable([
          // Axis labels for the crime rate graph
          ['Year', 'Crime Number'],
          // Year and total number of crimes
          ['{{ result[3][0] }}', {{ result[3][1] }}],
          ['{{ result[4][0] }}', {{ result[4][1] }}],
          ['{{ result[5][0] }}', {{ result[5][1] }}],
          ['{{ result[6][0] }}', {{ result[6][1] }}],
          ['{{ result[7][0] }}', {{ result[7][1] }}],
          ['{{ result[8][0] }}', {{ result[8][1] }}],
        ]);
        // Creates dictionary of text to add to graph to add formatting
        var options = {
          title: 'Crime Rate Over Time',
          curveType: 'function',
          legend: { position: 'bottom' }  };
        
        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
        // Draws options and data
        chart.draw(data, options);}
    </script>
    
    <!-- A script that displays the total number of each type of crime in a given community
         area in a bar chart from google's charts -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = google.visualization.arrayToDataTable([
         // Axis labels
         ['Crime Type', 'Crime Number'],
         // Type of crime and the total number in a given area
         ['{{ barResult[1][0] }}', {{ barResult[1][1] }}],
         ['{{ barResult[2][0] }}', {{ barResult[2][1] }}],
         ['{{ barResult[3][0] }}', {{ barResult[3][1] }}], 
         ['{{ barResult[4][0] }}', {{ barResult[4][1] }}],
         ['{{ barResult[5][0] }}', {{ barResult[5][1] }}],
         ['{{ barResult[6][0] }}', {{ barResult[6][1] }}], 
         ['{{ barResult[7][0] }}', {{ barResult[7][1] }}], 
         ['{{ barResult[8][0] }}', {{ barResult[8][1] }}], 
         ['{{ barResult[9][0] }}', {{ barResult[9][1] }}],
         ['{{ barResult[10][0] }}', {{ barResult[10][1] }}],
         ['{{ barResult[11][0] }}', {{ barResult[11][1] }}], 
         ['{{ barResult[12][0] }}', {{ barResult[12][1] }}], 
         ['{{ barResult[13][0] }}', {{ barResult[13][1] }}], 
         ['{{ barResult[14][0] }}', {{ barResult[14][1] }}]
        ]);
        
        // Creates dictionary of text to add to graph to add formatting
        var options = {
          chart: {
            title: 'Number of Each Crime Type',
          },
          bars: 'horizontal'
        };

        var chart = new google.charts.Bar(document.getElementById('bar_chart'));
        // Draws options and data
        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>
  <!--link to css file-->
  <link rel="stylesheet" href="static/crimeCSS.css">
  
  <body>
      
    <div id='curve_chart' style='width: 600px; height: 300px'></div>
    <div id='bar_chart' style='width: 600px; height: 300px'></div>
    
  </body>
</html>
