<!--locationStats.html-->
<!--@authors Madeline Prins and Eva Grench -->
<html>
  <head>
    <title> Location Statistics </title>
  </head>
    <!--link to css file-->
    <link rel="stylesheet" href="static/crimeCSS.css">
    <body>
    <!--Navigation Bar for page -->
    <ul>
      <li> <a class = "navbar" href = "index.html"> Home Page </a> </li>
      <li> <a href = "exploreData.html"> Explore Data </a> </li>
      <li> <a href = "locationStats.html"> Location Statistics </a> </li>
    </ul>
    <!--end navigation bar-->
    <!--headers-->
    <h1 class = "MainDate"> Chicago Crime Records </h1>
    <h2 class = "2nd"> Search For Crime Rate Trends In A Specific Chicago Community Area:</h2>
      
    <!--enter chicago community area in a restricted number input box and submit-->
    <!--takes you to locationResults.html-->
    <form action = "/locationResults.html" method = "POST">
      <div>
          Enter Chicago Community Area (1-77):
          <input type="number" name="communityAreaNumber" min=1 max=77>
      </div>
    <!--result button-->
    <button class="resultbtn"> Get Results: <input type="submit" value="submit"> </button>
      <!--submit button stylings-->
      <style>
      input[type="submit"]{
          background-color: #4286f4;
          color: white;
          width: 70px;
          height: 30px;
          font-size: 1em;
      }
      </style>
    </form>

</body>
</html>
