/*MJStyleSheet.css*/

/********Navigation bar styling*******/
#nav{
	background-color: #69585F; /*nav bar block background mauve color*/
	width:100%
	float: left;
	margin: 0;
	min-width: 1000px;
	padding: 4px; /*padding around the navbar options*/
	font-family:"Didot, serif", Didot, serif;
	font-size: 2.5vw; /*vw type allows font resizing when window size changes*/
}

#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 30px;
	height: 30px; /*control if text is centered or more towards the top*/
}

#nav li{

	max-height: 20px;
	float: left; /* space the nav options out horizontally*/
}
#nav li a{
	display: inline; /*horizontal bar*/
	padding: 8px 40px ; /*padding between elements*/
	text-decoration: none;
	color: #EF959D; /*text color*/
}
/*****End Navigation bar styling**/

/********* IMAGE GALLERY STYLING ********/

.homeImageGallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex: 50%;
	padding: 10px; /*what makes the images not touch the navBar*/
	> * {
		margin: 40px; /*still not sure what this does*/
	}
}

.media {
	height: auto;
	float: middle;
	overflow: hidden;
	position: relative;
	padding: 10px;
	width: 48%;
}

/*What makes it not zoom super far into the image if it's a large file*/
.media img {
	height: auto;
	max-width: 100%;
}

.hoverLayer {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 99%;
	background: #FFF;
	color: #151E3F;
	transition: all 0.9s ease;
	p {
		transition: all 0.9s ease;
		transform: scale(0.1) /*does there need to be a semicolon here?*/
	}
}

/*Image Text on opaque hover layer*/
p {
	font-family: 'Inconsolata', monospace;
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
}
.media:hover .hoverLayer {
	opacity: 0.8;
	width: 99%;
	transition: all 0.5s ease;
	p{
		transform: scale(1);
		transition: all 0.9s ease;
	}
}
@media (max-width: 800px){
	body{
		transform: scale(0.6);
	}
}
@media (max-width: 600px) {
	.homeImageGallery {
		display: block;
		> * {
			margin: 50px;
		}
	}
}
/******* END SECTION ********/


/******* PRE-PASSWORD PROTECTED PAGE ********/
#projectPageTitles p {
	text-align: center;
	font-size: 50px; !important
	padding-left: 10px;
	font-family: 'Inconsolata', monospace; !important
}
/*javascript button for entering password protected page*/
.passwordButton {
	background-color: #99ffff; /*blue button background*/
	color: black; /*text color*/
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Inconsolata', monospace; !important
	font-size: 25px; !important
}

/******* END SECTION ********/


/******* PRIVATE PROTECTED PAGE FOR NAIVE BAYES ********/

#datastruct p { /*text descriptions*/
	text-align: center; !important
	font-size: 30px; !important
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	display: block; !important
	font-family: 'Inconsolata', monospace; !important
}

/*Button stylings for download link */
#datastruct li {
	font-family: 'Inconsolata', monospace; !important
	font-size: 15px;
	padding-bottom: 20px ;
	float: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;

}
#datastruct a {
	background-color: #99ffff;
	color: black;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	float: middle;
	text-align: center;
	width: 20%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#datastruct a:hover {
	background-color: #c4d4d4; /*blue gray hover color*/
}
#datastruct a:active {
	background-color: black; 
}
#datastruct a:visited {
	background-color: #ccc;
}

/*bayes model image*/
#datastructimg img{
	width: 50%; !important
	height: auto; !important
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	display: block; !important
}
/******* END SECTION ********/


/******* CONTACT PAGE  ********/

/*keeping these paragraph stylings separate so I can change their layouts later*/
#p1 {
	text-align: center;
	font-size: 40px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#p2 #p3 #p4{
	text-align: center;
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
}

#p2 #p3 #p4 li{

}

/******* END SECTION ********/



#descriptions p{
	text-align: center;
	font-size: 15px;
	padding-top: 10px;
	display: block;
	margin-left: 300px;
	margin-right: 300px;
}


#siteTable {
	margin-left: 40px;
	margin-right: 40px;
	vertical-align: center;
	text-align: center;
	border: 1px solid black;
	width: 90%;

}
#siteTable th, td {
	border: 1px solid black;
	border-collapse: collapse;
}
th, td {
	padding: 15px;
	text-align: left;
}











