/*MJStyleSheet.css*/

/********Navigation bar styling*******/
#nav{
	background-color: #69585F; /*nav bar block background mauve color*/
	width:100%
	float: left;
	margin: 0;
	min-width: 1000px;
	max-width: 100%;
	padding: 4px; /*padding around the navbar options*/
	font-family:"Didot, serif", Didot, serif;
	font-size: 2.5vw; /*vw type allows font resizing when window size changes*/
}
#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 20px;
	height: 30px; /*control if text is centered or more towards the top*/

}
#nav li{
	float: left; /* space the nav options out horizontally*/
}
#nav li a{
	display: inline; /*horizontal bar*/
	padding: 8px 40px ; /*padding between elements*/
	text-decoration: none;
	color: #EF959D; /*text color*/
}
/*****End Navigation bar styling**/

/***** HOME PAGE BACKGROUND STYLING ********/
body{
	/*set the background of the home page to a gif*/
	/*replace this file name with the name of a gif of something else*/
	background-image: url('backgroundTest.gif');
	background-size: cover;
	background-repeat: repeat-y;


}

/********* IMAGE GALLERY STYLING ********/
.homeImageGallery {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px; /*what makes the images not touch the navBar*/
	> * {
		margin: 40px; /*still not sure what this does*/
	}
}

.media {
	width: 900px;
	height: auto;
	float: left;
	overflow: hidden;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/*What makes it not zoom super far into the image if it's a large file*/
.media img {
	height: auto;
	max-width: 100%;
	width: 900px; !important

}

.hoverLayer {
	opacity: 0;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10px;
	height: 90%;
	background: #FFF;
	color: #151E3F;
	transition: all 0.9s ease;
	p {
		transition: all 0.9s ease;
		transform: scale(0.1) /*does there need to be a semicolon here?*/
	}
}

/*Image Text on opaque hover layer*/
p {
	font-family: 'Inconsolata', monospace;
	text-align: center;
	font-size: 30px;
	letter-spacing: 1px;
}

.media:hover .hoverLayer {
	opacity: 0.8;
	width: 90%;
	transition: all 0.5s ease;
	p{
		transform: scale(1);
		transition: all 0.9s ease;
	}
}

@media (max-width: 800px){
	body{
		transform: scale(0.6);
	}
}

@media (max-width: 600px) {
	.homeImageGallery {
		display: block;
		> * {
			margin: 50px;
		}
	}
}




/******* END IMAGE GALLERY STYLING ********/

#projectPageTitles p {
	text-align: center;
	font-size: 50px; !important
	padding-left: 10px;
	font-family: 'Inconsolata', monospace; !important
	
}



