/* exploreCSS.css */
/* @authors Madeline Prins and Eva Grench */
/* CSS file for the html file: exploreData.html*/
<div>
  body{
    background-color: #F5F5F5;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    margin: 0;
    padding: 0;
    width: 100%;
    } /*Palatino font type*/

    /*headers*/
    h1.h1Explore{
      position: absolute;
      top: 4%;
      left: 2%;
      text-align: left;
      font-size: 2.5em; 
      padding-bottom: 3%;
    }
    h2.h2Explore{
      position: absolute;
      padding-left: 2%;
      font-size: 1.875em;
      padding-bottom: 3%;
      padding-top: 1.5%;
    }
    h3.h3Explore{
      position: absolute;
      float:left;
      padding-top: 6%;
      padding-left: 3%;
      font-size: 1.4em;
      color: #1c3463;
    }
    /*end headers*/
    /*crime type*/
    div.filterA{/*title*/
      position: absolute;
      padding-top: 12%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter1{/*radio buttons*/
      padding-top: 10rem;
      padding-left: 2rem;
      vertical-align: middle;
      margin-right: 3%;
    }
    a.A{
      padding-left: 3%;
      padding-top: 12%;
    }
    /*end crime type*/
    /*crime date*/
    div.filterB{/*title*/
      position: absolute;
      padding-top: 2%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter2{/*radio buttons*/
      padding-left: 2rem;
      vertical-align: middle;
      padding-top: 3rem;
      margin-right: 3%;
    }
    /*end crime date*/
    /*arrest*/
    div.filterC{ /*title*/
      position: absolute;
      padding-top: 2%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter3{ /*radio buttons*/
      padding-left: 2rem;
      vertical-align: middle;
      padding-top: 3rem;
      margin-right: 3%;
    }
    a.C{
      padding-left: 1%;
      padding-top: 12%;
    }
    /*end arrest*/
    /*domestic*/
    div.filterD{/*title*/
      position: absolute;
      padding-top: 2%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter4{
      padding-left: 2rem;
      vertical-align: middle;
      padding-top: 3rem;
      margin-right: 3%;
    }
    a.D{
      padding-left: 1%;
      padding-top: 12%;
    }
    /*end domestic*/
    /*crime setting*/
    div.filterE{/*title*/
      position: absolute;
      padding-top: 2%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter5{/*radio buttons*/
      padding-left: 2rem;
      vertical-align: middle;
      padding-top: 3rem;
      margin-right: 3%;
    }
    /*end crime setting*/
    /*communityAreaNumber*/
    div.filterF{/*title*/
      position: absolute;
      padding-top: 2%;
      padding-left: 1%;
      float: left;
      font-size: 1.2em;
      font-weight: 700;
    }
    div.filter6{/*radio buttons*/
      padding-left: 2rem;
      vertical-align: middle;
      padding-top: 3rem;
      margin-right: 3%;
    }

    button.resultbtn{
    background-color: #f44b42;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: 2rem;

    }

    /*community area numbers image*/
     img {
      position: absolute;
      border: 1px solid #ddd;
      top:15rem;
      height: 60%;
      width:30%;
      left: 45rem;
    }

    /*nav bar*/
    ul{
      background-color: #1c3463;
      overflow: hidden;
      margin: 0;
      padding: 0;
      position: static;
      top:0;
      right: 50;
    }
    li a{
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px; /*room around the text on buttons*/
    }
    li{ /*makes nav bar horizontal*/
      float: left;
    }
    li a:hover{ /*changes button color when you hover*/
      background-color: #006699
    }
    </div>
