  
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    <!--Navigation-->
    <!--nav element defines container of navigation links -->
    <div id="nav">
      <ul> <!--unordered list of links-->
        <li><a href= "www.yahoo.com"> Home </a></li>
      </ul>
    </div>
    <!--End Navigation-->

    {%- include footer.html -%}

  </body>

</html>
